.title {
  font-weight: bold;
  font-size: 2em;
  align-items: center;
  color: var(--customBlack);
}

.exclusions {
  font-style: italic;
  font-variant: small-caps;
}

.inclusions {
  font-style: italic;
  font-variant: small-caps;
}

.button{
    margin: 10px auto auto 45%;
}
