.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.search-bar{
    margin-left: 40%;
    padding:10px;
    .dropdown{
        padding: 10px 5px;
        max-width: fit-content;
        background-color: blanchedalmond;
        z-index: 10;
        display: block;
        justify-content: center;
        


    }
}